.about {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.heading{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 16px;
}
.aboutPara {
    font-weight: 200;
    font-size: .9rem;
    max-width: 60rem;
    padding: 0 2rem;
}
.education h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.education ul li{
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: rgb(50,50,50);

}
.skillBars{
    width: 100vw;
    max-width: 80%;
    margin: 1.5rem;
    text-align: left;
}
.skillBars h2.head{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-top: 2rem;

}
.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: rgb(50,50,50);
}
.skillBarImg {
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
}
.skillBar p {
    font-size: 1rem;
    font-weight: 400;
}

