.contact{
    width: 100vw;
    text-align: center;
    margin: 2rem;
}
.contact h1{
    padding-top: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.contact form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 90vw; */
    /* max-width: 60rem; */
}
.contact .name, .email, .message {
    width: 100%;
    max-width: 40rem;
    font-size: medium;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(40,40,40);
    color: white;
}
.contact .message {
    font-family: "Poppins", serif;
}
.contact button{
    background: white;
    border: none;
    padding: .75rem 2.5rem;
    border-radius: 0.5rem;
    margin: 1.5rem;
    cursor: pointer;
    font-size: .92rem;
    font-weight: 500;
}
