#intro{
    height: 100vh;
    width: 100vw;
    max-width: 80rem;
    margin: 0  auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
    
}
.introImg{
    position: absolute;
    top: 1rem;
    z-index: -1;
    right: 0;
    object-fit: cover;
    height: 100vh;
    
}
.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hello{
    margin-top: 15rem;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Poppins" ,serif;
}
.name {
    color: yellow;
}
.introPara {
    font-size: .8rem; 
    font-family: "Poppins", serif;
    font-weight: 300;
}
.resume {
    background: white;
    margin: 0 1rem;
    padding: .75rem 1.5rem;
    border-radius: 3rem ;
    border: none;
    cursor: pointer;
}
.resume i {
    margin-right: 8px;
    object-fit: cover;
}

@media screen and (max-width:840px){
    .introImg {
        position: relative;
        right: -10vw;
    }
    .introContent {
        font-size: 10vw;
        text-align: center;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:750px){
    .hello {
        margin-top: 10rem;
    }
}

@media screen and (max-width:480px){
    .introImg {
        position: relative;
        right: -20vw;
    }
    .introContent {
        text-align: center;
        margin-top: 0;
    }

}
